<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户信息浏览</title>
</head>
<body>
<center>
    <h3>浏览用户信息</h3>
    <a href="{% url 'index' %}">返回首页</a>
    <table width="800" border="1">
        <tr>
            <th>id号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>电话</th>
            <th>添加时间</th>
        </tr>
        {% for vo in ulist%}
             <tr>
                 <td>{{vo.id}}</td>
                 <td>{{vo.name}}</td>
                 <td>{{vo.age}}</td>
                 <td>{{vo.phone}}</td>
                 <td>{{vo.addtime|date:'Y-m-d H:i:s'}}</td>
             </tr>

        {% endfor %}

    </table>
    {% for i in plist %}
                {% if i == pIndex %}
                    <b style="color:red">{{i}}</b>
                {% else %}
                    <a href="{% url 'demo2' i %}">{{i}}</a>
                {% endif %}
    {% endfor %}

</center>

</body>
</html>