<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>添加图片页面</title>
</head>
<body>
<center>
    {% include 'myapp/menu.html'%}
 <h2>添加相册信息</h2>
     <form method="post" action="{% url 'insertuser' %}" enctype="multipart/form-data">
        标题：<input type="text" name="title"><br>
           <div style="margin-left: 125px">图片：<input type="file" name="mypic" /><br></div>
        <input type="submit" value="上传">
        <button type="reset">重置</button>

  </form>

</center>


</body>
</html>